.container {
  display: flex;
  gap: 32px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: inherit;
  gap: 4px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
